@model RollMaster.Models.Character

<link rel="stylesheet" href="~/css/character.css" />

<div class="tor-sheet">

    <!-- HEADER -->
    <div class="header">
        <div class="name">@Model.Imie</div>
    </div>

    <!-- TOP INFO -->
    <div class="top-info">
        <div>Rodzima Kultura: @Model.RodzimaKultura</div>
        <div>Rodzima Korzyść: @Model.RodzimaKorzysc</div>
        <div>Powołanie: @Model.Powolanie</div>
        <div>Wiek: <input asp-for="Wiek" /></div>
        <div>Patron: <input asp-for="Patron" /></div>
        <div>Ścieżka Cienia: <input asp-for="SciezkaCienia" /></div>
        <div>Skarb: <input asp-for="Skarb" /></div>
        <div>PoziomZycia: <input asp-for="PoziomZycia" /></div>
        <div>Wyróżniki: <input asp-for="Wyrozniki" /></div>
        <div>Przywary: <input asp-for="Przywary" /></div>
    </div>

    <!-- MAIN GRID -->
    <div class="main">

        <!-- SIŁA -->
        <div class="column">
            <h3>SIŁA</h3>
            <div class="attr-block">
                <div class="field-row">
                    <label for="WartoscSila">Wartość</label>
                    <input asp-for="WartoscSila" />
                </div>
                <div class="field-row">
                    <label for="PTSila">PT</label>
                    <input asp-for="PTSila" />
                </div>
                <div class="field-row">
                    <label for="Wytrzymalosc">Wytrzymałość</label>
                    <input asp-for="Wytrzymalosc" />
                </div>
            </div>

            <div class="skills">
                @for (int i = 0; i < 6; i++)
                {
                    var skill = Model.skills[i];
                    <div class="skill-row">
                        <label class="enhance-checkbox">
                            <input type="checkbox" name="skills[@i].IsEnhanced" value="true" @(skill.IsEnhanced ? "checked" : "") />
                        </label>

                        <span class="skill-name">@skill.Name</span>

                        <input type="hidden" name="skills[@i].Value" value="0" />

                        <div class="skill-values">
                            @for (int val = 1; val <= 6; val++)
                            {
                                <label>
                                    <input type="radio" name="skills[@i].Value" value="@val" @(skill.Value == val ? "checked" : "") />
                                    @val
                                </label>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="horizontal-separator"></div>
            <div class="combat-skills">
                <h5 style="text-align: center; margin-bottom: 25px;">Biegłości bojowe</h5>
                @for (int i = 18; i <= 21; i++)
                {
                    var skill = Model.skills[i];
                    <div class="skill-row">
                        <!-- Nazwa biegłości -->
                        <span class="skill-name">@skill.Name</span>

                        <!-- Ukryty input dla wartości 0 -->
                        <input type="hidden" name="skills[@i].Value" value="0" />

                        <!-- Radio 1-6 -->
                        <div class="skill-values">
                            @for (int val = 1; val <= 6; val++)
                            {
                                <label>
                                    <input type="radio" name="skills[@i].Value" value="@val" @(skill.Value == val ? "checked" : "") />
                                    @val
                                </label>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- SERCE -->
        <div class="column">
            <h3>SERCE</h3>
            <div class="attr-block">
                <div class="field-row">
                    <label for="WartoscSerce">Wartość</label>
                    <input asp-for="WartoscSerce" />
                </div>
                <div class="field-row">
                    <label for="PTSerce">PT</label>
                    <input asp-for="PTSerce" />
                </div>
                <div class="field-row">
                    <label for="Nadzieja">Nadzieja</label>
                    <input asp-for="Nadzieja" />
                </div>
            </div>
            <div class="skills">
                @for (int i = 6; i < 12; i++)
                {
                    var skill = Model.skills[i];
                    <div class="skill-row">
                        <label class="enhance-checkbox">
                            <input type="checkbox" name="skills[@i].IsEnhanced" value="true" @(skill.IsEnhanced ? "checked" : "") />
                        </label>

                        <span class="skill-name">@skill.Name</span>

                        <input type="hidden" name="skills[@i].Value" value="0" />

                        <div class="skill-values">
                            @for (int val = 1; val <= 6; val++)
                            {
                                <label>
                                    <input type="radio" name="skills[@i].Value" value="@val" @(skill.Value == val ? "checked" : "") />
                                    @val
                                </label>
                            }
                        </div>
                    </div>
                }
            </div>        
            <div class="horizontal-separator"></div>
            <h5 style="text-align: center">Nagrody</h5>
            <div class="attr-block">
                <div class="field-row">
                    <label for="Mestwo">Męstwo</label>
                    <input asp-for="Mestwo" />
                </div>

                <label>Nagrody</label>
                <textarea class="rew" asp-for="Nagrody" rows="4" placeholder="Wpisz nagrody"></textarea>
            </div>
        </div>
        <!-- ROZUM -->
        <div class="column">
            <h3>ROZUM</h3>
            <div class="attr-block">
                <div class="field-row">
                    <label for="WartoscRozum">Wartość</label>
                    <input asp-for="WartoscRozum" />
                </div>
                <div class="field-row">
                    <label for="PTSerce">PT</label>
                    <input asp-for="PTRozum" />
                </div>
                <div class="field-row">
                    <label for="Obrona">Obrona</label>
                    <input asp-for="Obrona" />
                </div>
            </div>

            <div class="skills">
                @for (int i = 12; i < 18; i++)
                {
                    var skill = Model.skills[i];
                    <div class="skill-row">
                        <label class="enhance-checkbox">
                            <input type="checkbox" name="skills[@i].IsEnhanced" value="true" @(skill.IsEnhanced ? "checked" : "") />
                        </label>

                        <span class="skill-name">@skill.Name</span>

                        <input type="hidden" name="skills[@i].Value" value="0" />

                        <div class="skill-values">
                            @for (int val = 1; val <= 6; val++)
                            {
                                <label>
                                    <input type="radio" name="skills[@i].Value" value="@val" @(skill.Value == val ? "checked" : "") />
                                    @val
                                </label>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="horizontal-separator"></div>
            <h5 style="text-align: center">Przymioty</h5>
            <div class="attr-block">
                <div class="field-row">
                    <label for="Madrosc">Mądrość</label>
                    <input asp-for="Madrosc" />
                </div>

                <label>Przymioty</label>
                <textarea class="rew" asp-for="Przymioty" rows="4" placeholder="Wpisz przymioty"></textarea>
            </div>
        </div>
        <!-- PRAWA KOLUMNA -->
        <div class="side">

            <div class="box">
                <h4>Punkty</h4>

                <div class="field-row">
                    <label for="PunktyPrzygody">Punkty Przygody</label>
                    <input asp-for="PunktyPrzygody" />
                </div>

                <div class="field-row">
                    <label for="PunktyUmiejetnosci">Punkty Umiejętności</label>
                    <input asp-for="PunktyUmiejetnosci" />
                </div>

                <div class="field-row">
                    <label for="PunktyZazylosci">Poziom Zażyłości</label>
                    <input asp-for="PunktyZazylosci" />
                </div>
            </div>

            <div class="box">
                <h4>Stan</h4>

                <div class="field-row">
                    <label for="ObecnaWytrzymalosc">Obecna Wytrzymałość</label>
                    <input asp-for="ObecnaWytrzymalosc" />
                </div>

                <div class="field-row">
                    <label for="ObecnaNadzieja">Obecna Nadzieja</label>
                    <input asp-for="ObecnaNadzieja" />
                </div>

                <div class="field-row">
                    <label for="Cien">Cień</label>
                    <input asp-for="Cien" />
                </div>

                <div class="field-row">
                    <label for="PietnoCienia">Piętno Cienia</label>
                    <input asp-for="PietnoCienia" />
                </div>
            </div>
            <div class="box">
                <h4>Ograniczenia</h4>

                <div class="field-row">
                    <label><input asp-for="Wyczerpanie" /> Wyczerpanie</label>
                </div>

                <div class="field-row">
                    <label><input asp-for="Przygnebienie" /> Przygnębienie</label>
                </div>

                <div class="field-row">
                    <label><input asp-for="Rana" /> Rana</label>
                </div>

                <div class="field-row">
                    <label for="StopienRany">Stopień rany:</label>
                    <input asp-for="StopienRany" style="width: 150px"/>
                </div>
            </div>

            <div class="box">
                <h4>Ekwipunek</h4>
                <textarea class="eq" asp-for="Ekwipunek" placeholder="Wpisz ekwipunek"></textarea>
            </div>

        </div>

    </div>

    <!-- RYNSZTUNEK -->
    <div class="equipment">
        <h3>Rynsztunek</h3>

        @for (int i = 0; i < 4; i++)
        {
            <div class="weapon-row">
                <input type="hidden" name="weapons[@i].Id" value="@(i<Model.weapons.Count? Model.weapons[i].Id : 0)" />
                <input type="hidden" name="weapons[@i].CharacterId" value="@Model.Id" />

                <input name="weapons[@i].Name" value="@(i<Model.weapons.Count? Model.weapons[i].Name : "")" placeholder="Nazwa" />
                <input name="weapons[@i].Damage" value="@(i<Model.weapons.Count? Model.weapons[i].Damage : 0)" />
                <input name="weapons[@i].Injury" value="@(i<Model.weapons.Count? Model.weapons[i].Injury : 0)" />
                <input name="weapons[@i].Load" value="@(i<Model.weapons.Count? Model.weapons[i].Load : 0)" />
                <input name="weapons[@i].Notes" placeholder="Uwagi" value="@(i<Model.weapons.Count? Model.weapons[i].Notes : "")" />
            </div>
        }
    </div>
    <div class="armor-section">
        <h4>Zbroja</h4>
        <input asp-for="ZbrojaNazwa" placeholder="Nazwa" />
        <input asp-for="ZbrojaPancerz" placeholder="Pancerz" />
        <input asp-for="ZbrojaObciazenie" placeholder="Obciążenie" />

        <h4>Hełm</h4>
        <input asp-for="HelmNazwa" placeholder="Nazwa" />
        <input asp-for="HelmPancerz" placeholder="Pancerz" />
        <input asp-for="HelmObciazenie" placeholder="Obciążenie" />

        <h4>Tarcza</h4>
        <input asp-for="TarczaNazwa" placeholder="Nazwa" />
        <input asp-for="TarczaObrona" placeholder="Obrona" />
        <input asp-for="TarczaObciazenie" placeholder="Obciążenie" />
    </div>
</div>